<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://kit.fontawesome.com/bd464f0db5.js" crossorigin="anonymous"></script>
    <script src="/scripts/booking.js" defer></script>
    <link rel="stylesheet" href="/styles/font/css/bpg-ingiri-arial.min.css">
    <link rel="stylesheet" href="/styles/base.css">
  </head>
  <body>
    <main>
      <section id="controll-field" class="main-controll">
        <button class="btn btn-main" id="search-btn">ჯავშნების ძებნა</button>
        <button class="btn btn-main" id="new-booking-btn">ახალი ჯავშანი</button>
        <button class="btn" id="back-btn"><i class="fa-regular fa-circle-left"></i> უკან</button>
      </section>
      <section id="form-field"></section>
      <section id="result-field"></section>
    </main>
  </body>
</html>
